<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= categoryName %></title>
  </head>
  <body>
    <h1><%= categoryName %></h1>
    <% categoryItems.forEach((element,index)=>{ %>  
          <li><%= element.name %> $<%=element.price %> rating <%= element.rating %> <%= element.details %></li>
        <%}) %>
  </body>
</html>
